@mixin heading ($h-size, $h-weight, $h-color) {
  font-family: 'Montserrat', sans-serif;
  font-size: $h-size;
  font-weight: $h-weight;
  color: $h-color;
  text-transform: uppercase;
}

@mixin flexbox ($display, $j-content, $a-items) {
  display: $display;
  justify-content: $j-content;
  align-items: $a-items;
}